[build]
  command = "cd client && npm run build" 
  publish = "client/build"
  functions = "netlify/functions"


[[redirects]]
  from = "/*"                      
  to = "/.netlify/functions/:splat" 
  status = 200
